/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  height: 100%;
  width: 100%;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  background-color: #000 !important;
  color: #fff
}

a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

input {
  text-align: center;
}

#nav-main-div {
  width: 100%;
}

.img-responsive {
  max-width: 100px;
  max-height: 100px;
}

.nav-link {
  color: #cdcdcd;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* CUSTOMIZE ALERTS
  -------------------------------------------------- */
.alert {
  padding-top: 12rem;
  padding-bottom: 4rem;
  background-color: #000 !important;
  color: #fff
}

/* CUSTOMIZE MUSIC SECTION CONTAINER
  -------------------------------------------------- */
#music {
  padding-top: 14rem;
  padding-bottom: 6rem;
  width: 100%;
}

/* CUSTOMIZE MERCH CONTAINER
  -------------------------------------------------- */
#merch {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  background-color: #000 !important;
  color: #fff
}

/* CUSTOMIZE TOUR CONTAINER
  -------------------------------------------------- */
#tour {
  padding-top: 6rem;
  padding-bottom: 4rem;
  width: 100%;
}

/* CUSTOMIZE BIO CONTAINER
  -------------------------------------------------- */
#bio {
  padding-top: 14rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;

}

#bio-imgs-div {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#bio img {
  max-height: 750px;
  max-width: 700px;
}

/* CUSTOMIZE FOOTER
  -------------------------------------------------- */
.footer {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #000 !important;
  color: #fff
}

.form-control::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: 1;
  /* Firefox */
}

.form-control::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.form-control:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.form-control:-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.form-control::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}