/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #000;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  background-color: #000;
  color: #fff
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

input {
  text-align: center;
}

/* CUSTOMIZE ALERTS
  -------------------------------------------------- */
.alert {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

/* CUSTOMIZE MUSIC SECTION CONTAINER
  -------------------------------------------------- */
#music {
  padding-top: 10rem;
  padding-bottom: 6rem;
  width: 100%;
}

/* CUSTOMIZE MERCH CONTAINER
  -------------------------------------------------- */
#merch {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
}

/* CUSTOMIZE TOUR CONTAINER
  -------------------------------------------------- */
#tour {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
}

/* CUSTOMIZE BIO CONTAINER
  -------------------------------------------------- */
#bio {
  padding-top: 10rem;
  padding-bottom: 6rem;
  width: 100%;
}

/* CUSTOMIZE FOOTER
  -------------------------------------------------- */
.footer {
  bottom: 0;
  padding-top: 2rem;
  width: 100%;
}