<!-- HEADER -->
{% include "header.html" %}

<main>

    <div id="bio" class="container-fluid text-center flex-grow-1">
        <h1>BIO</h1>
        <h3>more to come soon</h3>
        <img src="{{ url_for('static', filename='img/nfp-profile-side.jpg') }}" class="img-fluid" alt="Responsive image">
        <img src="{{ url_for('static', filename='img/nfp-railroad.jpg') }}" class="img-fluid" alt="Responsive image">
    </div>    

</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>
</html>