<!-- HEADER -->
{% include "header.html" %}

<main>

    <div id="bio" class="container-fluid text-center align-items-center px-5">
        <h1>BIO</h1>
        <hr>
        <div class="container-fluid text-start">
            <h3>
                French-American electronic duo <strong>NOT FROM PARIS</strong> is the collaboration
                of two brothers, Michael & Sebastian Lemiale.
            </h3>
            <h3>
                The project was born in Austin, TX where the two reconnected, later embarking on a journey
                to blend their multi-instrumentalist roots with the vast array of sound manipulation capabilities
                offered by digital music production.
            </h3>
            <h3>
                The result is a bold, cinematronic soundscape featuring the epic scale of a film score and their
                colossal, wall of sound synthesizers.
            </h3>
            <h3>
                Their first <strong>NOT FROM PARIS</strong> single "crying out" 
                is the genesis of their unique sound. They invite you to join them as they venture deeper 
                into their cinematronic universe.
            </h3>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-railroad.JPG') }}"><img src="{{ get_cdn_url('img/nfp-railroad.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-profile-side.JPG') }}"><img src="{{ get_cdn_url('img/nfp-profile-side.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-mural.JPG') }}"><img src="{{ get_cdn_url('img/nfp-mural.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-childhood-two.JPG') }}"><img src="{{ get_cdn_url('img/nfp-childhood-two.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-powerline.JPG') }}"><img src="{{ get_cdn_url('img/nfp-powerline.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-childhood.JPG') }}"><img src="{{ get_cdn_url('img/nfp-childhood.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-lake.JPG') }}"><img src="{{ get_cdn_url('img/nfp-lake.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-tower.JPG') }}"><img src="{{ get_cdn_url('img/nfp-tower.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>

</html>