<!-- HEADER -->
{% include "header.html" %}

<main>

    <div id="bio" class="container-fluid text-center align-items-center">
        <h1>BIO</h1>
        <h3>more to come soon</h3>
        <div id="bio-imgs-div" class="d-flex flex-column align-items-center">
            <img src="{{ get_cdn_url('img/nfp-railroad.jpg') }}" class="p-2 img-fluid" alt="Responsive image">
            <img src="{{ get_cdn_url('img/nfp-profile-side.jpg') }}" class="p-2 img-fluid" alt="Responsive image">
        </div>
    </div>

</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>

</html>