<!-- HEADER -->
{% include "header.html" %}

<main>
    {% for message in get_flashed_messages() %}
        <div id="fadesAway" class="container-fluid alert bg-dark text-center text-white flex-grow-1" role="alert">
        {% set message_as_list = message.split(',') %}
        <h1>{{ message_as_list[0] }}</h1>
        <h3>{{ message_as_list[1] }}</h3>
        </div>
        <script src="{{ url_for('static', filename='js/fadeAlert.js')}}"></script>
    {% endfor %}

    <div id="music" class="container-fluid text-center flex-grow-1">
        <h1>MUSIC</h1>
        <h3>new sounds coming soon</h3>
    </div>

    <div id="merch" class="container-fluid bg-dark text-center text-white flex-grow-1">
        <h1>MERCH</h1>
        <h3>new styles coming soon</h3>
    </div>

    <div id="tour" class="container-fluid text-center flex-grow-1">
        <h1>TOUR</h1>
        <h3>new shows coming soon</h3>
    </div>
</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>
</html>
