<!-- HEADER -->
{% include "header.html" %}

<main>
    {% for message in get_flashed_messages() %}
        <div id="fadesAway" class="container-fluid alert bg-dark text-center text-white flex-grow-1" role="alert">
        {% set message_as_list = message.split(',') %}
        <h1>{{ message_as_list[0] }}</h1>
        <h3>{{ message_as_list[1] }}</h3>
        </div>
        <script src="{{ url_for('static', filename='js/fadeAlert.js')}}"></script>
    {% endfor %}

    <div id="music" class="container-fluid text-center flex-grow-1">
        <h1>MUSIC</h1>
        <hr>
        <div class="container align-items-center justify-content-center">
            <h3>you and i</h3>
            <hr>                        
            <iframe style="width:100%;max-width:660px;overflow:hidden;border-radius:12px;" src="https://open.spotify.com/embed/track/4yCqAntgA6aJgaSYeReOGL?utm_source=generator" height="175" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/you-and-i/1737365089?i=1737365090"></iframe>            
            <h3>stay for it</h3>
            <hr>                        
            <iframe style="width:100%;max-width:660px;overflow:hidden;border-radius:12px;" src="https://open.spotify.com/embed/track/7x2oEYnP4StwwWX9XjzLzI?utm_source=generator" height="175" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/stay-for-it/1727424393?i=1727424394"></iframe>
            <hr>
            <h3>crying out</h3>
            <hr>
            <iframe style="width:100%;max-width:660px;overflow:hidden;border-radius:12px;" src="https://open.spotify.com/embed/track/6PFdpdcD9X2ciQiQKhIYux?utm_source=generator" height="175" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write; picture-in-picture" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:12px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/crying-out/1687905658?i=1687905659"></iframe>
            <hr>           
        </div>
    </div>

    <div id="merch" class="container-fluid bg-dark text-center text-white flex-grow-1">
        <h1>MERCH</h1>
        <hr>
        <h3>new styles coming soon</h3>
    </div>

    <div id="tour" class="container-fluid text-center flex-grow-1">
        <h1>TOUR</h1>
        <hr>
        <h3>new dates coming soon</h3>
    </div>
</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>
</html>
