<!-- HEADER -->
{% include "header.html" %}

<main>

    <div id="PressKit" class="container-fluid text-center align-items-center px-5">
        <h1>PRESS KIT</h1>
        <hr>
        <h3>BIO</h3>
        <hr>
        <div class="container-fluid text-center">
            <p>
                hi, i’m Michael. i love to create music that makes you dance, makes you cry, makes you travel to beautiful, mysterious and undiscovered digital worlds. come take a journey with me 🤍
            </p>
        </div>
        <hr>
        <h3>PHOTOS</h3>
        <hr>        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-profile-1.jpg') }}"><img src="{{ get_cdn_url('img/nfp-profile-1.jpg') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-live-1.jpeg') }}"><img src="{{ get_cdn_url('img/nfp-live-1.jpeg') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-desert-1.png') }}"><img src="{{ get_cdn_url('img/nfp-desert-1.png') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-boat-1.jpeg') }}"><img src="{{ get_cdn_url('img/nfp-boat-1.jpeg') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-cafe-1.jpeg') }}"><img src="{{ get_cdn_url('img/nfp-cafe-1.jpeg') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>                   
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-paris-1.png') }}"><img src="{{ get_cdn_url('img/nfp-paris-1.png') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-abstract-1.png') }}"><img src="{{ get_cdn_url('img/nfp-abstract-1.png') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>                    
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-tub-1.jpeg') }}"><img src="{{ get_cdn_url('img/nfp-tub-1.jpeg') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>                                                                                                                                                                                                      
            </div>
        </div>
        <hr>        
        <h3>TOUR HISTORY</h3>
        <hr>
        <h1>2023</h1>
        <p>ATX House Set</p>
        <hr>        
        <h3>Contact</h3>
        <hr>
        <a href="mailto:notfromparismusic@gmail.com">notfromparismusic@gmail.com</a>
        <hr>
    </div>

</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>

</html>