<!-- HEADER -->
{% include "header.html" %}

<main>

    <div id="PressKit" class="container-fluid text-center align-items-center px-5">
        <h1>PRESS KIT</h1>
        <hr>
        <div class="container align-items-center justify-content-center">
            <img src="{{ get_cdn_url('img/nfp-mural.JPG') }}" class="p-2 img-fluid" alt="Responsive image">
        </div>
        <div class="container quotes">
            <div class="row align-items-center">
                <div class="col-sm">
                    <em><p><small>"...develops a dynamic Electronic sound with experimentation from organic elements."</p></small></em>
                  </div>                
              <div class="col-sm">
                <em><p><small>"With their creative blend of electronic influences and rich musical heritage, Not From Paris is crafting a sonic universe that promises to leave a lasting impression on its audience."</p></small></em>
              </div>
              <div class="col-sm">
                <em><p><small>"'for you' è un brano profondo, romantico, elettronico."</p></small></em>
              </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="https://visualatelier8.com/not-from-paris-for-you/">Visual Atelier 8</a>
                  </div>                
                <div class="col-sm">
                    <a href="https://conversationsabouther.net/french-american-duo-not-from-paris-shares-brand-new-single-for-you/">CONVERSATIONS ABOUT HER</a>
                  </div>
                  <div class="col-sm">
                    <a href="https://www.parkettchannel.it/not-from-paris-for-you/">PARKETT</a>
                  </div>
            </div>
          </div>
          <hr>
        <h3>BIO</h3>
        <hr>
        <div class="container-fluid text-start">
            <p>
                French-American electronic duo <strong>NOT FROM PARIS</strong> is the collaboration of two brothers, Michael & Sebastian Lemiale.
            </p>
            <p>
                The project was born in Austin, TX where the two reconnected and embarked on a journey to blend their multi-instrumentalist roots with the vast array of sound manipulation capabilities offered by digital music production. The result is a bold, cinematronic soundscape featuring the epic scale of a film score and their colossal, wall of sound synthesizers.
            </p>
            <p>
                Although originally born in San Francisco, CA, the two spent a good portion of their lives in their mother’s hometown near Le Mans, France. They cherish their dual identities, with music from both cultures heavily influencing their sound. They grew up on Daft Punk, Justice and other French electronic music heavyweights during their summers in France juxtaposed against the rest of their year spent in the US listening to a wide variety of genres ranging from hip hop and R&B hits of the early 2000s to the classical music drilled into them from their multi-instrumental training.
            </p>
            <p>
                Their first <strong>NOT FROM PARIS</strong> single "crying out" is the genesis of their unique sound, featuring a blend of beautiful vocal samples, heavy drum fills, and colossal synthesizers they meticulously edit with their experimental sound design techniques.
            </p>
            <p>
                The Lemiale brothers continue to build their genre blending sound in their newest single “for you” where they feature dueling soundscapes from a modern electronic music drop seamlessly transitioning into a progressively evolving bassline that crescendos with an immersive wall of sound.
            </p>
            <p>
                They invite you to join them as they venture deeper into their cinematronic universe.
            </p>
        </div>
        <hr>
        <h3>PHOTOS</h3>
        <hr>        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-railroad.JPG') }}"><img src="{{ get_cdn_url('img/nfp-railroad.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-profile-side.JPG') }}"><img src="{{ get_cdn_url('img/nfp-profile-side.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-mural.JPG') }}"><img src="{{ get_cdn_url('img/nfp-mural.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-childhood-two.JPG') }}"><img src="{{ get_cdn_url('img/nfp-childhood-two.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-powerline.JPG') }}"><img src="{{ get_cdn_url('img/nfp-powerline.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-childhood.JPG') }}"><img src="{{ get_cdn_url('img/nfp-childhood.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-lake.JPG') }}"><img src="{{ get_cdn_url('img/nfp-lake.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb bio-img">
                    <a href="{{ get_cdn_url('img/nfp-tower.JPG') }}"><img src="{{ get_cdn_url('img/nfp-tower.JPG') }}" class="p-2 img-fluid" alt="Responsive image"></a>
                </div>
            </div>
        </div>
        <hr>        
        <h3>TOUR HISTORY</h3>
        <hr>
        <h1>2023</h1>
        <p>ATX House Set</p>
        <hr>        
        <h3>Contact</h3>
        <hr>
        <a href="mailto:notfromparismusic@gmail.com">notfromparismusic@gmail.com</a>
        <hr>
    </div>

</main>

<!-- FOOTER -->
{% include "footer.html" %}
</body>

</html>